@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
      background-color: #111927;
    background-image: 
        radial-gradient(at 49% 50%, hsl(230.85, 48%, 30%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(232.00, 37%, 8%) 0, transparent 55%);
}

html::-webkit-scrollbar {
  width: 0.7rem;
}

html::-webkit-scrollbar-track {
  background: #6c757d;
}

html::-webkit-scrollbar-thumb {
  background: #1e2125;
  border-radius: 10px;
}
html::-webkit-scrollbar-thumb:hover {
  background: #8b0202;
  border-radius: 0px;
}
